.register{
    width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-wrapper{
    width: 25%;
  padding: 20px;
  background-color: white;
}
.password{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
justify-content: space-between;
margin: 10px 0;
  padding-right: 5px;
  border: 1px solid hsl(0, 0%, 0%);
  padding: 4px;  
}
.password>:nth-child(2){
  cursor: pointer;
}
.passinput{
  border: none;  
  width: 100%;  
  padding: 10px;  
}
.passinput:focus{
  outline: none;
}
.regtitle{
    font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.regform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regform .input{
    flex: 1;
    width: 100%;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
}
.regform button{
    width: 40%;
  border: 1px solid teal;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;

}
.regform button:disabled{
    color: green;
    cursor: not-allowed;    
  }
.regform button:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;    
}
@media screen and (max-width : 767px){
  .register{
    width: 100%;
  }
  .register-wrapper{
    width: 60%;
    height: max-content;
  }
  .regform input{
    width: 100%;        
  }
  .regform button{
    margin-top: 30px;
  }
  .regform .input{
    width: 100%;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .register-wrapper{  
    width: 45%;
    height: max-content;
  }
  .loginform input{
    width: 100%;
  }
  
  }