.cat-item-container{  
    display: flex;
  padding: 20px;
  justify-content: space-between;
 align-items: center; 
 gap: 10px;
}
.cat-name{
 margin-top: 30px;
 margin-left: 50px; 
 color: blueviolet;
 font-weight: 900;
}
@media screen and (max-width:648px) {
  .cat-item-container{
    display: flex;
    flex-direction: column;    
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cat-item-container{  
    width: 100%;
    gap: 10px;
  }

}