.pl-fil-con{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.select-con{
    display: flex;
    margin: 20px;
    align-items: center;
}
@media screen and (max-width:648px) {
   .select-con{
    display: flex;
    flex-direction: column;
    gap: 10px;    
    width: 250px;
    align-items: center;
   }
  }

