.cart-wrapper{
    padding: 20px;
}
.cart-wrapper h1{
    font-weight: 300;
  text-align: center;
}
.cart-top{
    display: flex;
  border-bottom : 1px solid lightgrey;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cart-top button{
    padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.cart-top button:hover{
  background-color: black;
  color: white;
}
.dis{
  cursor: none !important;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}
.cart-remove{
 color: black; 
 font-size: 20px;
 font-weight: 800;
 position: absolute;
 right: 0;
 background-color: transparent;
 padding: 10px;
 cursor: pointer;
}
.cart-remove:hover{
 background-color: red;
  color: white;
}
.clearcart:hover{
background-color: black;
color: white;
}
.cart-top button.filled {
    background-color: black;
    color: white;    
  }
  .procart{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }  
.cart-bottom{
    display: flex;
    justify-content: space-between;
}
.cart-pro{
    display: flex;
  justify-content: space-between; 
  position: relative;     
  border: 1px solid rgba(128, 128, 128, 0.322);  
  cursor: pointer;
  width: 97%;  
}
.cart-pro:hover{
  background-color: rgba(0, 0, 0, 0.11);
}
.cart-pro-de{
    flex: 2;
  display: flex;    
}
.detail{
    padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}
.detail span{
   font-size: 25px;
   line-height: 30px;
}
.cart-quantity{
  font-size: 20px;
  color: gray;
}
.cart-quantity span{
  color: black;
}
.cart-pro-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pricede{
    flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn{
    width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
.si{
    margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.sum{
    flex: 1;
  margin-top:30px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;  
  height:55vh;  
}
hr{
    background-color: #eee;
  border: none;
  height: 1px;
}
.shipping{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sub{
    display: flex;
    justify-content: space-between;
}
.cart-img{
  width: 200px;
  height: 200px;
  margin: 15px;  
  object-fit: contain;
}
@media screen and (max-width:767px) {
 .cart-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .cart-img{
  width: 150px;  
 }
 .cart-pro{  
  width: 100%;
  overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
 }
 .pricede{
  position: absolute;
  right: 5%;
  bottom: 5%;  
 }
 .detail span{
  font-size: 20px;
 }
 
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cart-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
}