.cat-2-container {
    width: 100%;    
    height: 70vh;
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;    
  }
.img-con{
  height: 420px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  gap: 15px;
  overflow: hidden;
  cursor: pointer;    
}
.img-con:hover .cat-2-image{
  transform: scale(1.2);
  transition: 0.5s all;
  filter: brightness(0.4);
}
.img-con .cat-2-image{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.img-con .info{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  gap: 20px;
}
.info h1{
  color: white;
}
.info button{
  padding: 10px;
  border: none; 
  cursor: pointer; 
}
.info button:hover{
  background-color: black;
  color: white;
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img-con{
  width: 220px;
  height:300px;
  }
}
