@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;    
    font-family: "Cabin", sans-serif;
      overflow-x: hidden;
  }
      
  .heading {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;    
  }
  
  .heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
  }
  
  .heading span {
    font-size: 3rem;    
    color: #12d8fa;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
  }

  @media screen and (max-width : 767px){
    .heading span {
      font-size: 20px;
    }
  }
  @media screen and (min-width : 768px) and (max-width : 1023px){
    
  }
